:root[color-mode="light"] {
  --surface1: rgb(255, 255, 255);
  --element1: rgb(48, 48, 48);
  --error: rgb(255, 0, 0);
}

:root[color-mode="dark"] {
  --surface1: rgb(44, 44, 44);
  --element1: rgb(238, 238, 238);
  --error: rgb(228, 89, 89);;
}

/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode="light"] .light--hidden {
  display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
  display: none;
}

.color-mode__btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0 0 0;
}

#plaintext {
  font-family: monospace;
  white-space: pre-line;
}

#note {
  color: var(--error);
}

article {
  max-width: 780px;
  width: 100%;
  margin: 30px auto;
  color: var(--element1);
  background-color: var(--surface1);
}

h1 {
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: var(--surface1);
}

code {
  white-space: pre;
}

li {
  margin-bottom: 0.25em;
}

p.description {
  text-align: center;
}

p.definition {
  padding-left: 2em;
}

span.texhtml {
  font-family: "Nimbus Roman No9 L","Times New Roman",Times,serif;
  font-size: 118%;
  line-height: 1;
  white-space: nowrap;
  -moz-font-feature-settings: "lnum","tnum","kern" 0;
  -webkit-font-feature-settings: "lnum","tnum","kern" 0;
  font-feature-settings: "lnum","tnum","kern" 0;
  font-variant-numeric: lining-nums tabular-nums;
  font-kerning: none;
}

table.input * {
  width: 100%;
}

input::placeholder {
  font-style: italic;
}

